.header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    word-spacing: 1px;
    font-weight: 600;
    vertical-align: baseline;
    height: 80px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
}