.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(50, 108, 235),rgb(141, 243, 141),rgb(228, 235, 228));
  color:rgb(83, 74, 74);
  font-size: 40px;

}
